.mat-card-top{
    width: 300px;
    margin: auto;
    align-items: center;
    height: 415px;
    margin-bottom: 20px;
}

mat-form-field,
textarea {
    width: 100%;

}

.main-loader {
    margin: auto;
    margin-top: 35%;
}

mat-radio-button {
    margin: 3px;
}
h2 {
    margin-top: 7px;
}

.inputFile {
    visibility: hidden;
}

.image-preview {
    height: 10rem;
    margin: 1rem 0;
}

.image-preview img {
    height: 100%;
}

.days {
    width: 110px;
    margin-top: -14px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.file-loader {
    height: 10px;
    width: 10px;
}


.PredictionChart {
    height: 400;
    margin-top: 35px;
}


.upload-button {
    margin-bottom: 20px;
    width: 490px;
    padding-left: 8px;
}

.file-name {
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 15px;

}

.periodicity {
    font-size: 18px;
}

.metrics-invisible {
    width: 50%;
    display: none;
}
.metrics-visible {
    width: 50%;
}
.links{
    visibility: hidden;
}
.pred-invisible {
    display: none;
}
/* .pred-visible {} */